.container {
    width: 350px;
    border: 2px solid salmon;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    margin-left: 5px;
}

img {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid rgb(119, 119, 133);
    border-radius: 5px;
}

p {
    margin-left: 5px;
}